<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
   
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/animate.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <!-- 全局js -->
    <script src="~/Scripts/hogon/js/jquery-2.1.1.min.js"></script>
    @Scripts.Render("~/bundles/angular")
    <script src="~/Scripts/hogon/js/bootstrap.min.js"></script>

</head>

<body class="gray-bg">

        <div ng-app="myApp" ng-controller="validateCtrl">
        
                @RenderBody()
        </div>

</body>
</html>
