@{
    ViewBag.Title = "营销管理";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

<div class="form-group">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>组合套餐编辑</h5>
                    </div>
                    <div class="ibox-content">
                        <form method="get" class="form-horizontal" id="commentForm">

                            <div class="form-group">
                                <label class="col-sm-3 control-label"><span class="must">*</span>套餐名称：</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="packageName" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="col-sm-2">
                                    <label class="form-control" id="">搭配商品：</label>
                                </span>
                                <table class="table table-responsive table-striped table-bordered table-hover " id="editable">
                                    <thead>
                                        <tr>
                                            <th>商品名称</th>
                                            <th>显示名称</th>
                                            <th>商品编码</th>
                                            <th>市场价</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodylist"></tbody>
                                </table>
                                <span class="col-sm-2">
                                    <button class="form-control" id="addPackageName" ng-click="addPackageName()">添加搭配商品</button>
                                </span>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">套餐原价：</label>
                                <div class="col-sm-3">
                                    <input readonly id="originalPrice" class="form-control" placeholder="请点击" ng-click="CaculatePrice()" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">套餐现价：</label>
                                <div class="col-sm-3">
                                    <input type="text" id="currentPrice" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">排序：</label>
                                <div class="col-sm-3">
                                    <input type="text" id="sortNumber" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">是否包邮:</label>
                                <label><input type="radio" value="True" name="IsFreePost" checked="checked" style="width:20px; margin-left:40px;" />是</label>
                                <label style="margin-left:50px;"><input type="radio" value="False" name="IsFreePost" style="width:20px;" />否</label>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">套餐图标：</label>
                                <div class="col-sm-3">
                                    <input type="file" id="input-dim-2" class="file-loading">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">套餐描述：</label>
                                <div class="col-sm-5">
                                    <textarea id="freebieDescription" type="text" name="" class="form-control" ng-model="freebieDescription" placeholder=""></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3"></label>
                                <div class="col-sm-8">
                                    <button class="btn btn-primary" type="button" ng-click="saveEditPageMsg()">保存</button>
                                    <button class="btn btn-white" type="button" ng-click="returnIndex()">返回</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*组合商品模态框（选择组合商品服务）*@
    <div class="modal fade" id="GoodsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width:650px;margin-left:-300px !important;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">组合商品选择</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ibox float-e-margins">
                                <form method="get" class="form-horizontal" id="commentForm">
                                    <div class="ibox float-e-margins" style="padding-top:20px;">
                                        <table class="table table-responsive table-striped table-bordered table-hover " id="modalTable">
                                            <thead>
                                                <tr>
                                                    <th>请选择</th>
                                                    <th>商品名称</th>
                                                    <th>商品价格</th>
                                                    <th>商品编码</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbody"></tbody>
                                        </table>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal" ng-click="">关闭</button>
                    <button type="button" class="btn btn-primary" ng-click="SaveModalData()">保存</button>
                </div>
            </div>
        </div>
    </div>

    <style>
        .must {
            padding-right: 4px;
            color: #ff0000;
        }
    </style>

    <!-- jQuery 表单验证-->
    <script src="~/Scripts/hogon/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="~/Scripts/hogon/js/plugins/validate/messages_zh.min.js"></script>
    <!-- 自定义js -->
    <script src="~/Scripts/hogon/js/content.js"></script>
    <!-- Data Tables -->
    <script src="~/Scripts/hogon/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/hogon/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <!-- iCheck-->
    <script src="~/Scripts/hogon/js/plugins/iCheck/icheck.min.js"></script>
    <script src="~/Scripts/hogon/js/plugins/fileinput/fileinput.min.js"></script>
    <script src="~/Scripts/hogon/js/plugins/fileinput/fileinput-zh.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>

    <script type="text/javascript">

        var app = angular.module('myApp', []);
        app.controller('validateCtrl', function ($scope, $http) {

            //组合商品模态框加载数据
            $scope.addPackageName = function () {
                $("#tbody").empty();
                $('#GoodsModal').modal("show");
                $http({
                    method: 'POST',
                    url: '/MarketingMan/PackageGoods/SelectGoods',
                    data: null
                }).then(function successCallback(response) {
                    //请求成功
                    $.each(response.data, function (index, v) {
                        var $tr = $("<tr name='DataTr'></tr>");
                        var $td0 = $("<td><input type='checkbox' name='packageGood' value='" + v.Id + "'/></td>");
                        var $td1 = $("<td></td>").text(v.GoodsName);
                        var $td2 = $("<td></td>").text(v.SalePrice);
                        var $td3 = $("<td></td>").text(v.GoodsCode);
                        $tr.append($td0).append($td1).append($td2).append($td3);
                        $("#tbody").append($tr);
                    });
                    $('#tbodymode').DataTable({
                        " bScrollInfinite": false
                    });

                }, function errorCallback(response) {
                    alert("模态框加载数据失败！");
                })
            }

            $scope.SaveModalData = function () {
                var checked = [];
                var t = $('#modalTable').DataTable();
                $("input:checkbox:checked").each(function () {
                    checked.push($(this).val());
                })
                if (checked.length == 0) {
                    swal("请至少选择一个商品！");
                    return;
                }
                $('#GoodsModal').modal("hide");
                $http({
                    method: 'POST',
                    url: '/MarketingMan/PackageGoods/GetPackGoodsMsg',
                    data: { goodsId: checked }
                }).then(function successCallback(response) {
                    if (response.data == "")
                    { return; }
                    $.each(response.data, function (index, v) {
                        var $tr = $("<tr name='DataTr'></tr>");
                        var $td0 = $("<td id='" + v.Id + "'></td>").text(v.GoodsName);
                        var $td1 = $("<td></td>").text(v.GoodsAlias);
                        var $td2 = $("<td></td>").text(v.GoodsCode);
                        var $td3 = $("<td id='" + ('price' + index) + "'></td>").text(v.SalePrice);
                        var $td4 = $("<td></td>")
                             .append("&nbsp&nbsp<a title='删除' class='delet' id = '" + v.Id + "'> "
                              + "<span class='glyphicon glyphicon-trash aria-hidden=' "
                              + "true''></span></a>");
                        $tr.append($td0).append($td1).append($td2).append($td3).append($td4);
                        $("#tbodylist").append($tr);
                    });

                    $('#editable').DataTable({
                        " bScrollInfinite": false
                    });

                    var m = $('#editable').DataTable({
                        "bFilter": false,
                        "bPaginate": false,
                        "bInfo": false
                    });

                    $(".delet").on("click", function () {
                        var button_d = $(this);
                        var id = button_d.attr("id");
                        swal({
                            title: "操作提示",
                            text: "确认删除吗?",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            cancelButtonText: "取消",
                            confirmButtonText: "确定",
                            closeOnConfirm: false
                        }, function () {
                            var rowsLengthBegin = $('#editable tr').length;
                            button_d.parent().parent().remove();
                            //tabel行数判断
                            var rowsLengthAfterDelete = $('#editable tr').length;
                            if (rowsLengthBegin == rowsLengthAfterDelete + 1) {
                                swal("删除成功", "", "success");
                            }
                        })
                    })

                }, function errorCallback() {
                    alert("请求失败！");
                });
            }

            //计算套餐原价
            $scope.CaculatePrice = function () {
                var rowsLength = $('#editable tr').length;
                if (rowsLength < 2) {
                    swal("请至少选择一个商品！");
                    return;
                }

                var price = $("#editable").find("tr").length;
                var b = 0;
                for (var i = 0; i < price; i++) {
                    var a = $("#editable").find("tr").find("#price" + i).text();
                    if (a != "") {
                        b = parseInt(a) + parseInt(b);
                    }
                }
                var c = b.toString();
                $("#originalPrice").val(c);
            }

            ////图片上传成功回调函数
            $("#input-dim-2").on("fileuploaded", function (event, data, previewId, index) {

                fileUrl = data.response.fileUrl;
                fileName = data.response.fileName;
                fileSize = data.response.fileSize;
                fileType = data.response.fileType;
            });

            //创建图片上传控件
            $("#input-dim-2").fileinput({
                uploadUrl: '/FileUpload/FileUpload',
                allowedFileExtensions: ["jpg", "png", "gif"],
                maxImageWidth: 50,
                maxImageHeight: 50,
                uploadLabel: "",
                uploadTitle: "上传文件",
                removeLabel: "",
                removeTitle: "删除文件",
                browseLabel: "",
                maxFileCount: 1,
                previewFileType: "image",
                browseLabel: "",
                browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
            });

            $scope.returnIndex = function () {
                window.location.href = "/MarketingMan/PackageGoods/Index"
            }

            //var $tables = $(".div").find("table[name='info']");
            ////alert($tables.prop("tagName")); //TABLE
            //var length = $tables.length;
            ////alert(length); //3
            //for (var i = 0; i < length; i++) {
            //    var $table = $tables.eq(i);
            //    //alert($table.prop("tagName")); //TABLE
            //    //eq(i)表示第i行
            //    var nameTd = $table.find("tr").eq(i).children("td").eq(0);
            //    //alert(nameTd.prop("tagName")); //TD
            //    alert(nameTd.text());var val = $(this).attr("id") 
            //alert(b.indexOf(a));

            $scope.saveEditPageMsg = function () {
                var goodsId=[];
                var length = $('#editable tr').length;
                for (var i = 1; i < length; i++) {
                    var $table = $('#editable').eq(i);
                    //eq(i)表示第i行
                    var tdName = $table.find("tr").eq(i).children("td").eq(0);
                    goodsId.push(tdName.attr("id"));
                }

            }
        })
    </script>

</div>
