@{
    ViewBag.Title = "禾工大型B2B行业平台";
    Layout = "~/Views/Shared/_EditableLayout.cshtml";
}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>可编辑表格</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="">
                            <button id="addNewTr" href="javascript:void(0);" class="btn btn-primary btn-xs ">添加行</button>
                        </div>
                        <table class="table table-responsive table-striped table-bordered table-hover " id="editable">
                            <thead>
                                <tr>
                                    <th>渲染引擎</th>
                                    <th>浏览器</th>
                                    <th>平台</th>
                                    <th>引擎版本</th>
                                    <th>CSS等级</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                              
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 全局js -->
    <script src="~/Scripts/hogon/js/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/hogon/js/bootstrap.min.js"></script>
    <script src="~/Scripts/hogon/js/plugins/jeditable/jquery.jeditable.js"></script>

    <!-- Data Tables -->
    <script src="~/Scripts/hogon/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/hogon/js/plugins/dataTables/dataTables.bootstrap.js"></script>

    <!-- 自定义js -->
    <script src="~/Scripts/hogon/js/content.js"></script>

    <!-- Page-Level Scripts -->
    <script type="text/javascript">

        var app = angular.module('myApp', []);
        app.controller('validateCtrl', function ($scope, $http) {



        });

        $(function () {
            var t = $('#editable').DataTable({
                //"bInfo":false,
                " bScrollInfinite":false
            });
            $("#editable tbody").on("click",".edit-btn",function(){
                var tds=$(this).parents("tr").children();
                $.each(tds, function(i,val){
                    var jqob=$(val);
                   //跳过第1项 序号,按钮 i < 1 ||
                    if(jqob.has('button').length ){
                        return true;
                    }
                    var txt=jqob.text();
                    var put=$("<input type='text'>");
                    put.val(txt);
                    jqob.html(put);
                });
                $(this).html("保存");
                $(this).toggleClass("edit-btn");
                $(this).toggleClass("save-btn");
            });

            $("#editable tbody").on("click",".save-btn",function(){
                var row=t.row($(this).parents("tr"));
                var tds=$(this).parents("tr").children();
                $.each(tds, function(i,val){
                    var jqob=$(val);
                    //把input变为字符串
                    if(!jqob.has('button').length){
                        var txt=jqob.children("input").val();
                        jqob.html(txt);
                        //t.cell(jqob).data(txt);//修改DataTables对象的数据
                    }
                });
                $(this).html("编辑");
                $(this).toggleClass("edit-btn");
                $(this).toggleClass("save-btn");
                //var data=row.data();
                //$.ajax({
                //    "url":"",
                //    "data":data,
                //    "type":"post",
                //    "error":function(){
                //        //alert("服务器未正常响应，请重试");
                //    },
                //    "success":function(response){
                //        //alert(response);
                //    }
                //});
            });
            $("#addNewTr").on("click",function(){
                t.row.add([
                    "<input type='text'/>",
                    "<input type='text'/>",
                    "<input type='text'/>",
                    "<input type='text'/>",
                    "<input type='text'/>",
                    "<button class='save-btn btn btn-primary btn-xs'>保存</button>"
                ]).draw();
            });
        });

    </script>
