.margin-b-50 {
    width:100%;
    height:50px;
}
.ft_warp {    
    border-top: solid 1px #F5F5F5;
    border-bottom: solid 1px #F5F5F5;
    overflow: hidden;
}
.ft_warp>ul {
    font-size: 0;
    white-space: nowrap;
    padding: 30px 0;
    margin-left: -1px;
}
.ft_warp>ul li {
    font-size: 12px;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    width: 25%;
    zoom: 1;
}
.ft_warp li span {
    vertical-align: middle;
    display: inline-block;
}
.ft_warp li .line_ide {
    font-size: 0;
    background-color: #D7D7D7;
    width: 1px;
    height: 36px;
}
.ft_warp li .icon_ide {
    width: 48px;
    height: 48px;
    margin: 0 6% 0 12%;
}
.ft_warp li .name_ide {
    font-size: 18px;
    line-height: 48px;
    color: #333;
}
.ft_footer_link {
    margin-top:25px;
    margin-bottom:15px;
    background-color:#3D5D99;
    text-align:center;
    height:24px;
    line-height:24px;
    color:#fff;
}
 .ft_footer_link a {
     color:#fff;
     display:inline-block;
     margin-right:5px;
}
.ft_footer_cp {
    width:100%;
    text-align:center;
    color:#666;
}
.ft_footer_cp a {
    color:#666;
}
.ft_pic_link {
    margin-top:20px;
    display:block;
    text-align:center;
}
.ft_pic_link a {
    display:inline-block;
    margin:0 4px;
}
