.headerWrapper {
}
.color_63 {
    color:#638FC7 !important;
}
.top_nav {
    width: 100%;
    background-color: #E5E5E3;
    height:30px;
    line-height:30px;
    font-size:12px;
}
.top_nav_li,.top_nav_li_login {
    float: left;
}
.top_nav_li_login{    
    padding:0 15px;
}
.top_nav_li {
    position:relative;
    width:75px;
    z-index:600;
}
.top_nav_li a{
    color:#000000;
     padding-left:10px;
}
.top_nav_li a:hover {
    color:#337ab7;
}
.top_nav_li_menu {
    border-left:1px solid #E5E5E3;
    border-right:1px solid #E5E5E3;
}
.top_nav_li:hover .top_nav_li_menu{
    border-left:1px solid #CDCDCD;
    border-right:1px solid #CDCDCD;
    background-color:#fff;
}
    .top_nav_li:hover .top_nav_li_menu_item {
        display:block;
    }
.top_nav_li_menu_item {
    display: none;
    position:absolute;
    top:28px;
    width:75px;
    background-color:#fff;
    border:1px solid #CDCDCD;
    border-top:none;
    padding:5px 0;

}
 .top_nav_li_menu_item>a {
     display:block;
     line-height:26px;
 }
.logo_tab {
    padding-top:10px;
    padding-bottom:25px;
}
.logo{
    width:180px;
    height:100px;
}
.logo img {
        width:100%;
        height:100%;
    }
.searchBar {
    width:550px;
    position:relative;
    z-index:101;
    display:inline;
    margin-left:100px;
    margin-top:20px;
}
.search {
    width:550px;
    height:35px;    
    border:1px solid #2E5D90;
    overflow:hidden;
}
.searchText {
    background-color:#fff;
    color:#9A9690;
    padding:5px;
    font-size:15px;
    width:498px;
    border:0;
}
.searchBtn {
    width:50px;
    height:33px;
    border:0;
    background-color:#2E5D90;
    color:#fff;
}
.hotWords {
    margin-top:5px;
    line-height:18px;
}
 .hotWords a {
    margin-right:20px;
    color:#9A9690;
}
.hotWords a:hover {
    color:#638FC7;
}
.search_list {
    display:none;
    width:500px;
    border:1px solid #ccc;
    background-color:#fff;
    position:absolute;
    top:35px;
}
.search_list li {
    padding:0 10px;
    line-height:28px;
    cursor:pointer;
    overflow:hidden;
    color:#666;
}
.search_list li:hover,.search_list li:hover a {
    background-color:#638FC7;
    color:#fff;
}
.search_list li a {
    color:#666;
}
.search_list li span {
        float:right;
}
.mini_car {
    position:relative;
    z-index:500;
}
.hd_prism_cart {
    color:#638FC7 !important;
    display:block;
    margin-top:20px;
    width:190px;
    height:35px;
    text-align:center;
    vertical-align:middle;
    line-height:35px;
    border:1px solid #D0CCC7;
    background-color:#fff;
}
.mini_car:hover .hd_prism_cart{    
    position:relative;
    z-index:510;
    border-bottom:none;
}
.mini_car:hover .hd_cart_show {
    display:block;
    z-index:500;
}
.hd_cart_show {
    display:none;
    position:absolute;
    right:0;
    top:54px;
    border:1px solid #CDCDCD;
    width:300px;
    padding:5px;
    box-shadow:0px 3px 10px #999;
}
.hd_none_tips {
    width:100%;
    text-align:center;
    padding:20px 0;
    color:#666;
}
.hd_headwe {
    height:40px;
    position:relative;
}
.hd_headwe_nav {
    margin-left:180px;
    height:40px;
    line-height:40px;
}
.hd_nav_list {
}
.hd_nav_list li {
    float:left;
    font-size:16px;
    padding:0 30px;
}
    .hd_nav_list li > a {
        color:#333;
    }
        .hd_nav_list li > a:hover{
            color:#638FC7;
        }
.category {
    position:absolute;
    width:180px;
    top:0;
    left:0;
}
.category .hd {
    width:180px;
    font-size:16px;
    height:40px;
    line-height:40px;
    text-align:center;
    background-color:#2E5D90;
}
.category .hd > a,.cate_mune_item_h3>a {
    color:#fff;
}
.cate_mune {

}
.cate_mune_item {
}
.cate_mune_item:hover .hd_show_sort{
    display:block;
}
.cate_mune_item_h3 {
    background-color:#2E5D90;
    height:32px;
    line-height:32px;
    text-align:center;
    color:#fff;
    font-size:14px;
}
.cate_mune_item_h3:hover {
    background-color:#638FC7;
}
.cate_mune_lk {
    font-size:12px
}
.hd_show_sort {
    display:none;
    position: absolute;
    top: 0px;
    left: 180px;
    width: 1024px;
    height: 360px;
    z-index: 10;
    overflow: hidden;
    border: 0;
    zoom: 1;
    -webkit-box-shadow: 4px 0px 6px rgba(0,0,0,0.2);
    -moz-box-shadow: 4px 0px 6px rgba(0,0,0,0.2);
    box-shadow: 4px 0px 6px rgba(0,0,0,0.2);
    background-color: #fff;
}
.hd_good_category {
    float: left;
    width: 747px;
    padding: 2px 14px 10px 14px;
    border-right: 1px solid #f2f2f2;
}
.hd_good_category dt {
    float: left;
    width: 72px;
    height: 39px;
    padding-right: 9px;
    line-height: 38px;
    font-weight: bold;
    text-align: right;
    overflow: hidden;
}
.hd_good_category dd {
    float: left;
    display: block;
    width: 657px;
    line-height: 24px;
    padding: 7px 0px;
    border-bottom: 1px solid #f2f2f2;
}
.hd_good_category dt a {
    color: #666;
}
.hd_good_category dd a.hd_higlight_red {
    color: #ff4040;
}
.hd_good_category dd a {
    display: inline-block;
    margin: 0 9px;
    color: #666;
}
.hd_good_logo {
    float: left;
    width: 228px;
    _width: 227px;
    padding-left: 20px;
    font-size: 0px;
}
.seller_logo a {
    display: block;
    width: 180px;
    height: 100px;
    margin: 15px 19px 12px 10px;
}
.seller_logo a img {
    width:100%;
    height:100%;
}