<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/animate.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <!-- 全局js -->
    <script src="~/Scripts/hogon/js/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/hogon/js/bootstrap.min.js"></script>
   <script src="~/Scripts/hogon/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
   <script src="~/Scripts/hogon/js/plugins/layer/layer.min.js"></script>
   <script src="~/Scripts/hogon/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Scripts/hogon/js/hplus.js"></script>
    <script src="~/Scripts/hogon/js/contabs.js"></script>
    <script src="~/Scripts/hogon/js/plugins/pace/pace.min.js"></script>

</head>
<body class="fixed-sidebar full-height-layout gray-bg">

    <div id="wrapper">
        @RenderSection("sidebarMenu", false)

        @RenderBody()
    </div>

    <!-- 自定义jnmnmns -->
    <!-- 第三方插件 -->

</body>

</html>
