@{
    ViewBag.Title = "人员管理";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="tabs-container ibox">
                <ul class="nav nav-tabs bg-f">
                    <li class="active"><a href="#tab-01" data-toggle="tab">邀请用户</a></li>
                    <li class="adduser"><a href="#tab-02" data-toggle="tab">添加用户</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-01" class="tab-pane active">
                        <div class="panel-body">
                            <form method="get" class="form-horizontal" id="commentForm">
                                <div class="ibox-title">
                                    <h5>输入用户名或手机号</h5>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" ng-model="userName" placeholder="输入用户名或手机号" required>

                                    </div>
                                    <div class="col-sm-4">
                                        <button class="btn btn-white glyphicon glyphicon-search" ng-click="GetUserInfo()">
                                            查 询
                                        </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div id="tab-02" class="tab-pane">
                        <div class="panel-body">
                            <div class="ibox-content">
                                <form method="get" class="form-horizontal" id="commentForm">
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">用户名<i class="fa fa-asterisk fa-red"></i></label>
                                        <div class="col-sm-6">
                                            <input type="text" name="name" class="form-control" ng-model="name" placeholder="用户名" required>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">邮 箱<i class="fa fa-asterisk fa-red"></i></label>
                                        <div class="col-sm-6">
                                            <input type="email" name="email" class="form-control" ng-model="email" placeholder="邮 箱" required>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">手机号<i class="fa fa-asterisk fa-red"></i></label>
                                        <div class="col-sm-6">
                                            <input type="text" name="phoneNumber" class="form-control" ng-model="phoneNumber" placeholder="手机号" required>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">角 色<i class="fa fa-asterisk fa-red"></i></label>
                                        <div class="col-sm-6">
                                            <select class="form-control" name="PreviousMenu" id="parent" required>
                                                <option ng-model="previousMenu" class="typename"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-3"></label>
                                        <div class="col-sm-8">
                                            <button class="btn btn-primary" type="submit" ng-click="AddAccount()">提 交</button>
                                            <button class="btn btn-white" onclick="history.back()">返 回</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style=" width: 900px;height:270px;margin-left: -450px !important;margin-top:160px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新增功能菜单</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>用户名</th>
                                    <th>邮 箱</th>
                                    <th>手机号</th>
                                </tr>
                            </thead>
                            <tbody class="tbodylist">
                              
                            </tbody>
                        </table>
                        <input type="hidden" name="id" ng-model="personId" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="SaveInfo()">邀 请</button>
            </div>
        </div>
    </div>
</div>

    <!-- jQuery 表单验证-->
<script src="~/Scripts/hogon/js/plugins/validate/jquery.validate.min.js"></script>
<script src="~/Scripts/hogon/js/plugins/validate/messages_zh.min.js"></script>


<script type="text/javascript">
    $.validator.setDefaults({
        highlight: function (element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
        },
        success: function (element) {
            element.closest('.form-group').removeClass('has-error').addClass('');
        },
        errorElement: "span",
        errorPlacement: function (error, element) {
            if (element.is(":radio") || element.is(":checkbox")) {
                error.appendTo(element.parent().parent().parent());
            } else {
                error.appendTo(element.parent());
            }
        },
        errorClass: "help-block m-b-none",
        validClass: "help-block m-b-none"
    });

    var app = angular.module('myApp', []);
    app.controller('validateCtrl', function ($scope, $http) {

        //绑定查到的用户信息
        $scope.GetUserInfo = function () {
            $http({
                method: 'POST',
                url: '/Security/User/GetUserInfo',
                data: JSON.stringify({ userInfo: $scope.userName })
            }).then(function successCallback(response) {
                // 请求成功执行代码
                console.log(response.data);
                if (response.data == "") {
                    alert("未找到该用户");
                } else {
                    $("#myModalLabel").text("邀请以下用户到企业");
                    $('#myModal').modal();
                    $scope.personId = response.data.Id;
                    var $tr = $("<tr name='DataTr'></tr>");
                    var $td1 = $("<td></td>").text(response.data.Name);
                    var $td2 = $("<td></td>").text(response.data.EmailAddress);
                    var $td3 = $("<td></td>").text(response.data.PhoneNumber);
                    $tr.append($td1).append($td2).append($td3);
                    $(".tbodylist").append($tr);
                }

            }, function errorCallback(response) {
                // 请求失败执行代码
            });

        }

        //保存用户信息到企业下
        $scope.SaveInfo = function () {

            $http({
                method: 'POST',
                url: '/Security/User/PersonIsExist',
                data: JSON.stringify({ id: $scope.personId })
            }).then(function successCallback(response) {
                // 请求成功执行代码
                if (response.data == false) {
                    $http({
                        method: 'POST',
                        url: '/Security/User/SaveUserInfo',
                        data: JSON.stringify({ id: $scope.personId })
                    }).then(function successCallback(response) {
                        // 请求成功执行代码
                        alert("添加成功");
                        $("#myModal").hide();
                    }, function errorCallback(response) {
                        // 请求失败执行代码
                    });
                } else {
                    alert("该用户已存在企业中");
                }

            }, function errorCallback(response) {
                // 请求失败执行代码
            });
        }

        //绑定角色
        $scope.BindRole = function () {

            $http({
                method: 'POST',
                url: '/Security/User/GetRole',
                data: null
            }).then(function successCallback(response) {
                // 请求成功执行代码
                $("#parent").append("<option value='meren' selected='selected'>"
                       + "－－请选择角色－－</option>");

                $("#parent").click(function () {
                    $("#parent option[value='meren']").remove()
                })

                $.each(response.data, function (index, v) {

                    if (v.ParentId == null) {
                        var option = $("<option value = '" + v.Id + "'></option>").text(v.RoleName);
                        $("#parent").append(option);
                    }
                })
            }, function errorCallback(response) {
                // 请求失败执行代码
            });
        }

        //加载时给下拉框绑值
        $(".adduser").on("click", function () {

            $scope.BindRole();
        });

        //添加员工账号
        $scope.AddAccount = function () {
            if ($scope.name != null && $scope.email != null && $scope.phoneNumber != null && $("#parent").val() != null) {
                $scope.info = {
                    Name: $scope.name,
                    EmailAddress: $scope.email,
                    PhoneNumber: $scope.phoneNumber,
                    roleId: $("#parent").val()
                }
                $http({
                    method: 'POST',
                    url: '/Security/User/AddAccount',
                    data: JSON.stringify($scope.info)
                }).then(function successCallback(response) {
                    // 请求成功执行代码
                    if (response.data == true)
                        alert("已存在");
                    else
                        alert("添加成功");
                }, function errorCallback(response) {
                    // 请求失败执行代码
                });
            }
         
        }
    });

    $(function () {
        $("#commentForm").validate();

    });
</script>


