
@{
    ViewBag.Title = "规格管理";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

@section formHeader{
    <div class="header margin-left20">
        <span class="headerline">规格管理</span>
    </div>
}
<link href="~/Content/css/form.css" rel="stylesheet" />

<div class="form-group">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>基本信息</h5>
                    </div>
                    <div class="ibox-content">
                        <form method="get" class="form-horizontal" id="commentForm">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">产品类型</label>
                                <div class="col-sm-7">
                                    <select class="form-control" ng-model="SpecCatalog" name="SpecCatalog" id="specCatalog">
                                        <option ng-model="typeName" class="typename"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">规格名称</label>
                                <div class="col-sm-7">
                                    <input type="text" name="SpecName" class="form-control" ng-model="SpecName" required>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">规格备注</label>
                                <div class="col-sm-7">
                                    <input type="text" name="SpecRemark" class="form-control" ng-model="SpecRemark" required>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">规格别名</label>
                                <div class="col-sm-7">
                                    <input type="text" name="SpecSecondName" class="form-control" ng-model="SpecSecondName" required>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">显示类型</label>
                                <div class="col-sm-7">
                                    <label>
                                        <input type="radio" name="DisplayName" ng-model="DisplayName" value="文字" checked> <i></i> 文字
                                    </label>
                                    <label>
                                        <input type="radio" name="DisplayName" ng-model="DisplayName" value="图片"> <i></i> 图片
                                    </label>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">显示类型</label>
                                <div class="col-sm-7">
                                    <label>
                                        <input type="radio" name="DisplayMode" ng-model="DisplayMode" value="下拉" checked> <i></i> 下拉
                                    </label>
                                    <label>
                                        <input type="radio" name="DisplayMode" ng-model="DisplayMode" value="平铺"> <i></i> 平铺
                                    </label>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div style="display:none;margin-left:20px;margin-top:20px;width:120px;"  class="spectypeparameter">
                                    <input type="hidden" name="id" ng-model="specId" />
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>参数名称</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody class="parameterlist"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-3"></label>
                                <div class="col-sm-8">
                                    <button class="btn btn-primary" type="submit" ng-click="saveChange()">保存内容</button>
                                    <button class="btn btn-white" type="submit">取消</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- jQuery 表单验证-->
    <script src="~/Scripts/hogon/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="~/Scripts/hogon/js/plugins/validate/messages_zh.min.js"></script>
    <!-- 自定义js -->
    <script src="~/Scripts/hogon/js/content.js"></script>
    <!-- iCheck-->
    <script src="~/Scripts/hogon/js/plugins/iCheck/icheck.min.js"></script>
    <script src="~/Scripts/hogon/js/plugins/fileinput/fileinput.min.js"></script>
    <script src="~/Scripts/hogon/js/plugins/fileinput/fileinput-zh.js"></script>



</div>
@*<form name="myForm" novalidate>
        <div class="form-group">
            <div class="panelWrapper">
                <input type="hidden" name="id" ng-model="Id" />
                <table>
                    <tr>
                        <td><span>产品类型</span></td>
                        <td>
                            <select class="form-control" ng-model="SpecCatalog" name="SpecCatalog" id="specCatalog">
                                <option ng-model="typeName" class="typename"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><span>规格名称:</span></td>
                        <td><input type="text" name="SpecName" class="form-control" ng-model="SpecName" required></td>
                    </tr>
                    <tr>
                        <td><span>规格备注:</span></td>
                        <td><input type="text" name="SpecRemark" class="form-control" ng-model="SpecRemark" required></td>
                    </tr>
                    <tr>
                        <td><span>规格别名:</span></td>
                        <td><input type="text" name="SpecSecondName" class="form-control" ng-model="SpecSecondName" required></td>
                    </tr>
                    <tr>
                        <td><span>显示类型:</span></td>
                        <td>
                            <input type="radio" name="DisplayName" ng-model="DisplayName" value="文字" checked> 文字
                            <input type="radio" name="DisplayName" ng-model="DisplayName" value="图片"> 图片
                        </td>
                    </tr>
                    <tr>
                        <td><span>显示方式:</span></td>
                        <td>
                            <input type="radio" name="DisplayMode" ng-model="DisplayMode" value="下拉" checked> 下拉
                            <input type="radio" name="DisplayMode" ng-model="DisplayMode" value="平铺"> 平铺
                        </td>
                    </tr>
                    <tr>
                        <td><input type="hidden" name="id" ng-model="CreateTime" /></td>
                    </tr>
                </table>
            </div>

            <div style="display:none;margin-left:20px;margin-top:20px;width:120px;" class="spectypeparameter">
                <input type="hidden" name="id" ng-model="specId" />

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>参数名称</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody class="parameterlist"></tbody>
                </table>

            </div>
        </div>

        <div class="modal fade" id="myModalText" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <input type="hidden" name="id" ng-model="menuFcunId" />
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel">新增</h4>
                    </div>
                    <div class="modal-body">
                        <table class="functional">
                            <tr>
                                <td>规格参数名称:</td>
                                <td><input type="text" name="ParameterName" ng-model="parameterName" class="form-control" placeholder="规格参数名称"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                        <button type="button" id="btn_submit" class="btn btn-primary" ng-click="saveSpecTypeParameter()" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModalImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <input type="hidden" name="id" ng-model="menuFcunId" />
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel">新增</h4>
                    </div>
                    <div class="modal-body">
                        <table class="functional">
                            <tr>
                                <td><input id="input-dim-2" name="inputdim2[]" type="file" multiple class="file-loading" accept="image/*"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                        <button type="button" id="btn_submit" class="btn btn-primary" ng-click="saveSpecTypeParameter()" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script type="text/javascript">

        var app = angular.module('myApp', []);
        app.controller('validateCtrl', function ($scope, $http) {

            //绑定产品类型
            $scope.bindParentMenu = function () {

                $http({
                    method: 'POST',
                    url: '/GoodsMan/ProductType/GetAllProductType',
                    data: null
                }).then(function successCallback(response) {
                    // 请求成功执行代码
                    console.log(response);

                    $("#specCatalog").append("<option value='meren' selected='selected'>－－请选择产品类型－－</option>");

                    $("#specCatalog").click(function () {
                        $("#specCatalog option[value='meren']").remove()
                    })
                    $.each(response.data, function (index, v) {

                        if (v.ParentId == null) {
                            var option = $("<option value = '" + v.Id + "'></option>").text(v.TypeName);
                            $("#specCatalog").append(option);
                        }
                    })

                }, function errorCallback(response) {
                    // 请求失败执行代码

                });
            };
            $scope.bindParentMenu();

            var id = window.location.search; //获取ID
            var proId = id.substring(id.indexOf('?') + 1, 10);

            if (proId == "proTypeId") {
                id = id.substring(id.indexOf('=') + 1);
                $scope.Id = id;
                $http({
                    method: 'POST',
                    url: '/GoodsMan/ProductType/GetProductTypeById',
                    data: JSON.stringify({ Id: $scope.Id })
                }).then(function successCallback(response) {
                    // 请求成功执行代码
                    $("#specCatalog option[value='meren']").remove();
                    $(".typename").text(response.data.TypeName);
                }, function errorCallback(response) {
                    // 请求失败执行代码

                });
            }
            else {
                id = id.substring(id.indexOf('=') + 1);
                $scope.specTypeId = id;
                if (id != "") {
                    $(".spectypeparameter").show();
                    $http({
                        method: 'POST',
                        url: '/GoodsMan/SpecType/GetSpecTypeBySpecTypeId',
                        data: JSON.stringify({ specTypeId: $scope.specTypeId })
                    }).then(function successCallback(response) {
                        // 请求成功执行代码
                        $scope.Id = response.data.ProductTypeId;
                        $scope.SpecName = response.data.SpecName;
                        $("#specCatalog option[value='meren']").remove();
                        $(".typename").text(response.data.SpecCatalog);
                        $scope.SpecRemark = response.data.SpecRemark;
                        $scope.SpecSecondName = response.data.SpecSecondName;
                        $scope.DisplayName = response.data.DisplayName;
                        $scope.DisplayMode = response.data.DisplayMode;
                        $scope.CreateTime = response.data.DisplayCreatedTime;
                        $(".spectypeparameter").show();
                        $scope.bindSpecParameter(response.data.Id);
                        console.log(response.data.Id);
                    }, function errorCallback(response) {
                        // 请求失败执行代码
                    });
                }

            }

            //保存基本信息
            $scope.saveChange = function () {
                var displayName, displayMode;
                if ($scope.DisplayName != null) {
                    displayName = $scope.DisplayName;
                }
                if ($scope.DisplayMode != null) {
                    displayMode = $scope.DisplayMode;
                }
                var specCatalog = $(".typename").text();
                var jsondata = { "Id": $scope.specTypeId, "SpecName": $scope.SpecName, "SpecCatalog": specCatalog, "SpecRemark": $scope.SpecRemark, "SpecSecondName": $scope.SpecSecondName, "CreateTime": $scope.CreateTime, "DisplayName": displayName, "DisplayMode": displayMode, productTypeId: $scope.Id }
                $http({
                    method: 'POST',
                    url: '/GoodsMan/SpecType/SaveSpecType',
                    data: JSON.stringify(jsondata)
                }).then(function successCallback(response) {
                    // 请求成功执行代码
                    swal("保存成功！")
                    $(".spectypeparameter").show();
                    $scope.specId = response.data;
                    $scope.addSpecParameter(displayName, $scope.specId);
                    window.location.href = "/GoodsMan/ProductType/Edit?Id=" + $scope.Id;
                }, function errorCallback(response) {
                    // 请求失败执行代码

                });
            };

            //图片上传成功回调函数
            $("#input-dim-2").on("fileuploaded", function (event, data, previewId, index) {

                var fileUrl = data.response.fileUrl;
                var fileName = data.response.fileName;
                var fileSize = data.response.fileSize;
                var fileType = data.response.fileType;
            });

            //保存规格参数
            $scope.saveSpecTypeParameter = function () {
                $scope.master = { ParameterName: $scope.parameterName, specTypeId: $scope.specId };
                $http({
                    method: 'POST',
                    url: '/GoodsMan/SpecType/SaveSpecParameter',
                    data: JSON.stringify($scope.master)
                }).then(function successCallback(response) {
                    //绑定规格参数列表
                    $scope.bindSpecParameter($scope.specId);
                }, function errorCallback(response) {
                    // 请求失败执行代码
                });
            };

            //绑定规格参数列表
            $scope.bindSpecParameter = function (specTypeId) {
                $http({
                    method: 'POST',
                    url: '/GoodsMan/SpecType/GetParametersById',
                    data: JSON.stringify({ specTypeId: specTypeId })
                }).then(function successCallback(response) {
                    CreateTable(response.data);
                }, function errorCallback(response) {
                    // 请求失败执行代码
                });
            }

            //根据选择的显示类型显示相应的页面
            $scope.addSpecParameter = function (displayName) {

                $("[title='添加规格参数']").on("click", function () {
                    if (displayName == "文字") {
                        $("#myModalLabel").text("添加规格参数");
                        $('#myModalText').modal();
                    } else if (displayName == "图片") {

                        $("#myModalLabel").text("添加规格参数");
                        $('#myModalImage').modal();
                    }

                });
            }

            $("#input-dim-2").fileinput({
                uploadUrl: '/FileUpload/FileUpload',
                allowedFileExtensions: ["jpg", "png", "gif"],
                maxImageWidth: 50,
                maxImageHeight: 50,
                uploadLabel: "",
                uploadTitle: "上传文件",
                removeLabel: "",
                removeTitle: "删除文件",
                browseLabel: "",
                maxFileCount: 1,
                previewFileType: "image",
                browseLabel: "",
                browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
            });


        });

        //创建规格参数列表
        function CreateTable(data) {
            $("tr[name='DataTr']").remove();
            $.each(data, function (index, v) {
                var $tr = $("<tr name='DataTr'></tr>");
                var $td1 = $("<td></td>").text(v.ParameterName);
                $tr.append($td1);
                $(".parameterlist").append($tr);
            });
        }


        $(function () {

            $("[title='添加规格参数']").on("click", function () {

                $("#myModalLabel").text("添加规格参数");
                $('#myModal').modal();
            });
        });
    </script>*@
