@*<!DOCTYPE html>
    <html lang="en">*@

@{
    ViewBag.Title = "用户登陆";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <link href="~/Content/css/base.css" rel="stylesheet" />
    <link href="~/Content/css/login.css" rel="stylesheet" />

    <script src="~/Scripts/hogon/jquery.js"></script>
    <script src="~/Scripts/hogon/login.js"></script>
    @*<script src="~/Scripts/hogon/login.js"></script>*@
    @*<script type="text/javascript" src="js/jquery.js"></script>*@
</head>
<body>
    <div class="top">
        <div class="container clearfix">
            <a class="top-logo" href="index.html" target="_blank"><h1>LOGO</h1></a>
            <a class="top-suggest" href=""><i class="suggest-icon"></i>"登录界面" 调查问卷</a>
        </div>
    </div>

    <div class="content">
        <div class="container  container-bg">
            @*@using (Html.BeginForm("Login", "Account"))
            {*@
                <div class="login-box">
                    <p class="tittle">账号登陆</p>
                    <form id="login-form" class="login-form">
                        <div class="field username-field">
                            <label for="username">
                                <i class="iconfont glyphicon glyphicon-user"></i>
                            </label>
                            <input type="text" name="UserName" id="login-username" placeholder="用户名/邮箱/手机号">
                        </div>
                        <div class="field pwd-field">
                            <label for="pwd">
                                <i class="iconfont glyphicon glyphicon-lock"></i>
                            </label>
                            <input type="PassWord" name="Password" id="login-pwd" placeholder="密码">
                        </div>
                        <p id="checkaccount"></p>
                        <div id="check-mg"></div>
                        <div class="field submit-field">
                            <input type="button" id="login-submit"  value="登录">
                        </div>
                    </form>
                    <div class="login-links">
                        <a href="" target="_blank">忘记密码</a>
                        <a href="UserRegister" target="_blank">立即注册</a>
                    </div>
                </div>
           
        </div>
    </div>
    <div class="footer">
        <p class="login_ft_footer_link">
            <a href="" target="_blank">关于我们</a>|
            <a href="" target="_blank">我们的团队</a>|
            <a href="" target="_blank">网站联盟</a>|
            <a href="" target="_blank">热门搜索</a>|
            <a href="" target="_blank">友情链接</a>|
            <a href="" target="_blank">诚征英才</a>|
            <a href="" target="_blank">商家登录</a>|
            <a href="" target="_blank">供应商登录</a>|
            <a href="" target="_blank">放心搜</a>|
            <a href="" target="_blank">1号店新品</a>|
            <a href="" target="_blank">开放平台</a>|
            <a href="" target="_blank">沃尔玛</a>
        </p>
        <p>Copyright©2004-2016  XXXXXXXXXX版权所有 </p>
    </div>
    <script type="text/javascript">
        //$(function () {
        //    document.getElementById("check-mg").innerHTML = "用户名或密码错误！";
        //});

        $(function () {
            $("#login-submit").click(function () {

                var name = $("#login-username").val();
                var password = $("#login-pwd").val();
                $.ajax(
                    {
                        type: "POST",
                        url: "/Account/AccountIsExit",
                        data: { username: name, password: password },
                        datatype: "json",
                        async:true,
                        success: function (data) {
                            if (data != "") {
                                $("#check-mg").text(data);
                                $("#check-mg").css({ "color": "red" });
                            } else {
                                window.location.href = "../Home/Index";
                            }
                        }
                    });
            });

        });
    </script>
</body>



