@*<!DOCTYPE html>
    <html>*@
@{
    ViewBag.Title = "用户注册";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<head>
    <meta charset="UTF-8">
    <title>新用户注册</title>
    <link href="~/Content/css/base.css" rel="stylesheet" />
    <link href="~/Content/css/register.css" rel="stylesheet" />
    <link href="~/Content/css/user-register.css" rel="stylesheet" />
    <script src="~/Scripts/hogon/jquery.validate.min.js"></script>

</head>
<body >
    <div class="top">
        <div class="container clearfix">
            <a class="top-logo" href="index.html" target="_blank"><h1>LOGO</h1></a>
            <span class="top-weclome">欢迎注册</span>
        </div>
    </div>
    <div class="content">
        <div class="register-box clearfix">
            @using (Html.BeginForm("UserRegister", "Account", FormMethod.Post, new { id = "register-form" }))
            {
                <div class="register-tittie">
                    <a class="register-active" href="UserRegister">新用户注册</a>
                    <a class="register-option" href="CompanyRegister">企业用户注册</a>
                    <span class="register-if">
                        已有账号？
                        <a class="register-link" href="Login">请登录</a>
                    </span>
                </div>
                <div class="register-form clearfix">
                    <div class="filed">
                        <div class="input-group">
                            <label class="item" for="reg_username">用   户   名</label>
                            <input type="text" id="reg_username" name="Name" placeholder="支持中文,字母,数字,4-16个字符"  />
                        </div>
                        <p id="check_reg_username"></p>
                    </div>
                    <div class="filed">
                        <div class="input-group">
                            <label class="item" for="reg_pwd">密         码</label>
                            <input type="password" id="reg_pwd" name="Password" placeholder="支持字母,数字,下划线，6-20个字符" />
                        </div>
                        <p id="check_reg_pwd"></p>
                    </div>
                    <div class="filed">
                        <div class="input-group">
                            <label class="item" for="reg_repwd">确 认 密 码</label>
                            <input type="password" id="reg_repwd" name="reg_repwd" placeholder="请再次输入密码" />
                        </div>
                        <p id="check_reg_repwd"></p>
                    </div>
                    <div class="filed phone-field">
                        <div class="input-group">
                            <label class="item" for="reg_phone">手   机   号</label>
                            <input type="text" id="reg_phone" name="PhoneNumber" />
                            <select>
                                <option>中国 + 86</option>
                                <option>中国 + 86</option>
                                <option>中国 + 86</option>
                            </select>
                        </div>
                        <p id="check_reg_phone"></p>
                    </div>
                    <div class="filed email-field">
                        <div class="input-group">
                            <label class="item" for="reg_email">电 子 邮 箱</label>
                            <input type="email" id="reg_email" name="EmailAddress"  />
                        </div>
                        <p id="check_reg_email"></p>
                    </div>
                    <div class="filed">
                        <div class="input-group">
                            <label class="item" for="reg_authcode">验   证   码</label>
                            <input type="text" id="reg_authcode" placeholder="请输入验证码，不区分大小写" />
                            <img src="~/Content/Images/image.jpg" />
                        </div>
                        <p id="check_reg_authcode"></p>
                    </div>
                    <div class="filed">
                        <div class="input-group">
                            <label class="item" for="reg_verifyCode">手机验证码</label>
                            <input type="text" id="reg_verifyCode" placeholder="验证码" data-hint="请输入六位短信验证码" />
                            <button onclick="return false;">获取验证码</button>
                        </div>
                        <p id="check_reg_verifyCode"></p>
                    </div>
                    <div class="checkbox-filed">
                        <input type="checkbox" checked="checked" id="agree" name="agree" title="请同意用户注册协议" required="">
                        阅读并同意
                        <label for="agree"><a href="javascript:;" id="protocol">《用户注册协议》</a></label>
                        <span class="error"> </span>
                    </div>
                    <div class="register-btn">
                        <button type="submit" value="立即注册" >立即注册</button>
                    </div>
                </div>
                <div class="register-aside">
                    <img src="~/Content/Images/user-register-ad.jpg" width="300" />
                </div>
            }
        </div>
        <script type="text/javascript">
        $(function () {
            $("#reg_username").blur(function () {
                var nameFormat = /[\u4e00-\u9fa5_a-zA-Z0-9_]{4,16}/;
                var name = $("#reg_username").val();
                if (!nameFormat.test(name)) {
                    return;
                }
                //if (name.length < 4 || name.length > 16) {
                //    return;
                //}
                $.ajax(
                    {
                        type: "POST",
                        url: "/Account/NameIsExit",
                        //data: JSON.stringify({ userName: name }),
                        data: { username: name },
                        datatype: "json",
                        success: function (data) {
                                $("#check_reg_username").html(data);
                                $("#check_reg_username").css({ "color": "red" });
                        }
                    }
                    );
            })

            $("#reg_phone").blur(function () {
                var phoneFormat = /0?(13|14|15|18)[0-9]{9}/;
                var phoneNumber = $("#reg_phone").val();
                if(!phoneFormat.test(phoneNumber))
                {return;}
                //if (phoneNumber.length != 11) {
                //    return;
                //}
                $.ajax(
                    {
                        type: "POST",
                        url: "/Account/PhoneNumberIsExit",
                        data: { phone: phoneNumber },
                        datatype: "json",
                        success: function (data) {
                            $("#check_reg_phone").html(data);
                            $("#check_reg_phone").css({ "color": "red" });
                        }
                    }
                    );
            })

            $("#reg_email").blur(function () {
                var emailFormat =/\w[-\w.+]*@@([A-Za-z0-9][-A-Za-z0-9]+\.)+[A-Za-z]{2,14}/;
                var emailAddress = $("#reg_email").val();
                if (!emailFormat.test(emailAddress))
                { return;}
                //if ($('#check_reg_email').html() != "") {
                //    return;
                //}
                $.ajax(
                    {
                        type: "POST",
                        url: "/Account/EmaillIsExit",
                        data: { email: emailAddress },
                        datatype:"json",
                        success: function (data) {
                            $("#check_reg_email").html(data);
                            $("#check_reg_email").css({"color":"red"});
                        }
                    }
                );
            })


        });
        </script>
    </div>
    <div class="footer">
        <p class="ft-copyright">Copyright©2004-2016  XXXXXXXXXX版权所有 </p>
        <p class="ft_footer_link">
            <a href="" target="_blank">关于我们</a>|
            <a href="" target="_blank">我们的团队</a>|
            <a href="" target="_blank">网站联盟</a>|
            <a href="" target="_blank">热门搜索</a>|
            <a href="" target="_blank">友情链接</a>|
            <a href="" target="_blank">诚征英才</a>|
            <a href="" target="_blank">商家登录</a>|
            <a href="" target="_blank">供应商登录</a>|
            <a href="" target="_blank">放心搜</a>|
            <a href="" target="_blank">1号店新品</a>|
            <a href="" target="_blank">开放平台</a>|
            <a href="" target="_blank">沃尔玛</a>
        </p>
    </div>
    @*<div class="coverbg"></div>

    <div class="dialog">
        <p class="close"><a href="#" class="glyphicon glyphicon-remove" onclick="goback();"></a></p>
        <h2>注册协议</h2>
        <div class="dialog-content">
            <p>
                <h4>【审慎阅读】</h4>您在申请注册流程中点击同意前，应当认真阅读以下协议。请您务必审慎阅读、充分理解协议中相关条款内容。
            </p>
            <p>
                <h4>【特别提示】</h4>当您按照注册页面提示填写信息、阅读并同意协议且完成全部注册程序后，即表示您已充分阅读、理解并接受协议的全部内容。如您因平台服务与XX发生争议的，适用《XX平台服务协议》处理。如您在使用平台服务过程中与其他用户发生争议的，依您与其他用户达成的协议处理。
            </p>
            <p>
                如您对协议有任何疑问，可向平台客服<a href="">咨询</a>。
            </p>

        </div>
        <h4 class="dialog-links"><a href="">《服务协议》</a></h4>
        <h4 class="dialog-links"><a href="">《法律声明及隐私权政策》</a></h4>
        <a href="#" id="dialog-btn" class="dialog-btn" onclick="closebg();">同意协议</a>
    </div>*@
    <script src="~/Scripts/hogon/user-register.js"></script>
   
</body>
@*</html>*@

