
@{
    ViewBag.Title = "产品类型分类详情";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

@{
    ViewBag.Title = "禾工大型B2B行业平台";
    Layout = "~/Views/Shared/_DetailLayout.cshtml";
}

@section formHeader{
    <div class="header">
        <h2 class="headerline">产品类型分类详情</h2>
    </div>
}

<form name="myForm" novalidate>
    <div class="form-group">
        <div class="basic">
            <input type="hidden" name="id" ng-model="Guid" />
            <table>
                <tr>
                    <td><span>类型分类名称</span></td>
                    <td>
                        <span id="ProductTypeCategoryName" ></span>
                   </td>
                </tr>
                <tr>
                    <td><span>所属类型分类:</span></td>
                    <td>
                        <span id="Parent"></span>
                   </td>
                </tr>
                <tr>
                    <td><span>类型分类编码:</span></td>
                    <td>
                        <span id="Code"></span>
                   </td>
                </tr>
            </table>
        </div>
    </div>
</form>
<script type="text/javascript">
    var app = angular.module('myApp', []);
    app.controller('validateCtrl', function ($scope, $http) {

        var id = window.location.search; //获取ID
        id = id.substring(id.indexOf('=') + 1);

        if (id != "") {
            //详情
            $http({
                method: 'POST',
                url: '/GoodsMan/ProductTypeCategory/GetProductTypeCategoryById',
                data: { Id: id }
            }).then(function successCallback(response) {
                // 请求成功执行代码
                $scope.Guid= response.data.Id;
                $("#ProductTypeCategoryName").text(response.data.ProductTypeCategoryName);
                $("#Code").text(response.data.Code);
                $("#Parent").text(response.data.ParentName);

            }, function errorCallback(response) {
                // 请求失败执行代码
            });
        }
    });
</script>
