
@{
	ViewBag.Title = "商品类型详情";
	Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
@section formHeader{

	<div class="header">
		<h2 class="headerline">商品类型详情</h2>
	</div>
}

<form name="myForm" novalidate>
	<div class="form-group">
		<div class="basic">
			<input type="hidden" name="id" ng-model="Guid" />
			<table>
				<tr>
					<td><span>类型名称</span></td>
					<td>
						<span id="Name"></span>
					</td>
				<tr>
					<td><span>类型描述：</span></td>
					<td>
						<span id="Describe"></span>
					</td>
				</tr>
				<tr>
					<td><span>上级类型:</span></td>
					<td>
						<span id="ParentName"></span>
					</td>
				</tr>
				<tr>
					<td><span>产品类型:</span></td>
					<td>
						<span id="ProductTypeName"></span>
					</td>
				</tr>
				<tr>
					<td><span>排&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;序:</span></td>
					<td>
						<span id="Order"></span>
					</td>
				</tr>
				<tr>
					<td><span>是否启用:</span></td>
					<td><span id="IsEnabled"></span></td>
				</tr>
			</table>
		</div>
	</div>
</form>
<script type="text/javascript">

	var app = angular.module('myApp', []);
	app.controller('validateCtrl', function ($scope, $http) {
		var id = window.location.search;
		id = id.substring(id.indexOf('=') + 1);
		//详情绑值
		$http({
			method: 'POST',
			url: '/GoodsMan/GoodsType/FindGoodsTypeById',
			data: { Id: id }
		}).then(function successCallback(response) {
			// 请求成功执行代码
			$("#Name").text(response.data.Name);
			$("#Describe").text(response.data.Describe);
			if (response.data.ParentName != null) {
				$("#ParentName").text(response.data.ParentName);
			}
			$("#ProductTypeName").text(response.data.ProductTypeName);
			$("#Order").text(response.data.Order);
			$("#IsEnabled").text(response.data.IsEnabled == true ? "是" : "否");
		}, function errorCallback(response) {
			// 请求失败执行代码
		});
	});
</script>



