
@{
    ViewBag.Title = "商品类型编辑";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
    <link href="~/Content/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert.min.js"></script>
}
@section formHeader{
    <div class="header">
        <h2 class="headerline">商品类型管理</h2>
    </div>
}

<form name="myForm" novalidate>
    <div class="form-group">
        <div class="basic">
            <input type="hidden" name="id" ng-model="Guid" />
            <table>
                <tr>
                    <td><span>分类名称</span></td>
                    <td>
                        <input id="Name" type="text" name="Name" class="form-control" ng-model="Name" required>
                    </td>
                    <td>
                        <p>
                            <span style="color:red" ng-show="myForm.Name.$dirty && myForm.Name.$invalid">
                                <span ng-show="myForm.Name.$error.required">商品分类名不能重复或为空</span>
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>分类描述：</td>
                    <td><textarea class="form-control" id="describe" rows="2" cols="27" ng-model="Describe"></textarea>
                </tr>
                <tr>
                    <td><span>上级分类:</span></td>
                    <td>
                        <select class="form-control" name="ParentId" id="parent"></select>
                    </td>
                </tr>
                <tr>
                    <td><span>产品类型:</span></td>
                    <td>
                        <select class="form-control" name="ProductType" id="productType"></select>
                    </td>
                </tr>
                <tr>
                    <td><span>排&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;序:</span></td>
                    <td>
                        <input id="Order" type="text" name="Order" class="form-control" ng-model="Order" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span style="color:red" ng-show="myForm.Code.$dirty && myForm.Code.$invalid">
                                <span ng-show="myForm.Code.$error.required">排序不能为空</span>
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td><span>是否启用:</span></td>
                    <td>
                        <input type="radio" value="true" name="IsEnabled" checked="checked">是
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" value="false" name="IsEnabled">否
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>


<script type="text/javascript">

    var app = angular.module('myApp', []);
    app.controller('validateCtrl', function ($scope, $http) {
        //上级分类下拉框绑值
        $http({
            method: 'POST',
            url: '/GoodsMan/GoodsType/FindAllGoodsTypeNameForDrop',
            data: null
        }).then(function successCallback(response) {
            // 请求成功执行代码
            $("#parent").append("<option value=''  selected='selected'>－－请选择上级分类－－</option>");
            $.each(response.data, function (index, v) {
                if (id != "" && v.Id == id) {
                } else {
                    $("#parent").append($("<option value = '" + v.Id + "'></option>").text(v.Name));
                }
            })
        }, function errorCallback(response) {
            // 请求失败执行代码
        });


        //产品类型下拉框绑值
        $http({
            method: 'POST',
            url: '/GoodsMan/GoodsType/FindAllProductTypeForDrop',
            data: null
        }).then(function successCallback(response) {
            // 请求成功执行代码
            $("#productType").append("<option value=''  selected='selected'>－－请选择产品类型－－</option>");
            $.each(response.data, function (index, v) {
                $("#productType").append($("<option value = '" + v.Id + "'></option>").text(v.TypeName));
            })

        }, function errorCallback(response) {
            // 请求失败执行代码
        });

        var id = window.location.search;
        id = id.substring(id.indexOf('=') + 1);
        if (id != "") {
            //编辑绑值
            $http({
                method: 'POST',
                url: '/GoodsMan/GoodsType/FindGoodsTypeById',
                data: { Id: id }
            }).then(function successCallback(response) {
                // 请求成功执行代码
                var Data = response.data;
                $scope.Guid = Data.Id;
                $scope.Name = Data.Name;
                $scope.Order = Data.Order;
                $scope.Describe = Data.Describe;
                $("#parent ").val(Data.ParentId);
                $("#productType").val(Data.ProductTypeId);
                $("input[name=IsEnabled][value=" + Data.IsEnabled + "]").attr("checked", true);
            }, function errorCallback(response) {
            });
        }

        //判断Name是否重复
        $("[name='Name']").blur(
            function () {
                Repetition();
            })

        //保存
        $scope.saveChange = function () {
            Repetition();
            var parentId = $("#parent option:selected").val();
            var productType = $("#productType option:selected").val();
            if (parentId == "－－请选择上级分类－－") {
                parentId = "";
            }
            if (productType == "") {
                swal({
                    title: "请选择产品类型!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    cancelButtonText: "取消",
                    confirmButtonText: "确定",
                });
            }
            else {
                var isEnabled = $('input:radio[name="IsEnabled"]:checked').val();
                $scope.GoodsType = {
                    "Id": $scope.Guid,
                    "Name": $scope.Name,
                    "ParentId": parentId,
                    "ProductTypeId": productType,
                    "Order": $scope.Order,
                    "Describe": $scope.Describe,
                    "IsEnabled": isEnabled,
                }

                console.log(JSON.stringify($scope.GoodsType));
                $http({
                    method: 'POST',
                    url: '/GoodsMan/GoodsType/Save',
                    data: $scope.GoodsType
                }).then(function successCallback(response) {
                    // 请求成功执行代码
                    location.href = "/GoodsMan/GoodsType/Index";
                }, function errorCallback(response) {
                    // 请求失败执行代码
                    swal(response.data, "", "warning");
                });
            }
        }

        //判断Name是否重复
        function Repetition() {
            $http({
                method: 'POST',
                url: '/GoodsMan/GoodsType/FindGoodsTypeByName',
                data: JSON.stringify({ Name: $scope.Name })
            }).then(function successCallback(response) {
                // 请求成功执行代码
                console.log(response);
                console.log(response.data);
                if (response.data == 1) {
                    //编辑时不清空类型名称
                    if ((id != "")) {
                    }
                    else {
                        //新增时清空类型名称
                        $scope.Name = "";
                    }
                }
            }, function errorCallback(response) {
                // 请求失败执行代码
            });
        }
    });
</script>
