
@{
    ViewBag.Title = "商品类型列表";
    Layout = "~/Views/Shared/_RoleLayout.cshtml";
}
<link href="~/Content/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert.min.js"></script>
<link href="~/Content/css/plugins/jsTreeTable/jquery.treetable.theme.default.css" rel="stylesheet" />
<!-- 自定义js -->
<script src="~/Scripts/plugins/content.js"></script>
<!-- Nestable List -->
<script src="~/Scripts/hogon/js/plugins/nestable/jquery.nestable.js"></script>
<script src="~/Scripts/hogon/js/plugins/jsTreeTable/jquery.treetable.js"></script>
<script src="~/Scripts/hogon/js/content.js"></script>
<style>
    .authority {
        float: left;
        display: inline;
        margin-right: 20px;
        width: 500px;
        height: 500px;
    }

    #right {
        margin-left: 250px;
    }
</style>

<div class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>商品分类列表</h5>
                        @*<div class="col-sm-12" style="border-bottom: 1px dashed #e7eaec;padding-bottom:10px;">*@
                        <button name="confirmButton" id="add" type="button" class="btn btn-primary pull-right" data-toggle='modal' data-target='#Goods TypeModal'><i class="glyphicon glyphicon-plus" style="margin-right:5px;"></i>新增</button>
                        @*</div>*@
                    </div>
                    @*      <div class="ibox-content">*@
                    <table class="table table-responsive table-bordered table-hover" id="treeTable">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>分类名称</th>
                                <th>上级分类</th>
                                <th>产品类型</th>
                                <th>排序</th>
                                <th>启用状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="GoodsType"></tbody>
                    </table>
                    @*</div>*@
                </div>
            </div>
        </div>
    </div>
</div>

@*商品类型新增模态框*@
<div class="modal fade" id="GoodsTypeModal" tabindex="-1" role="dialog" aria-labelledby="AddAppCaseModalS">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="AddAppCaseModalS">商品类型管理</h4>
            </div>
            <div class="modal-body" style="width:500px;height:300px;">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <form class="form-horizontal" name="GoodsTypeForm" novalidate>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">分类名称:<i class="fa fa-asterisk fa-red"></i></label>
                                    <div class="col-sm-7">
                                        <input type="text" ng-model="Name" class="form-control" required="" aria-required="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">分类描述:</label>
                                    <div class="col-sm-7">
                                        <textarea class="form-control" ng-model="Describe" row="4"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">上级分类:</label>
                                    <div class="col-sm-7">
                                        <select class="form-control m-b" id="parent"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">产品类型:</label>
                                    <div class="col-sm-7">
                                        <select class="form-control m-b" id="productType"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">小图标</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-model="icon">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">排序<i class="fa fa-asterisk fa-red"></i></label>
                                    <div class="col-sm-7">
                                        <input type="text" ng-model="Order" class="form-control" required="" aria-required="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">是否启用</label>
                                    <div class="col-sm-7">
                                        <div class="radio i-checks">
                                            <label>
                                                <input type="radio" value="true" name="IsEnabled" checked="checked">是
                                            </label>
                                            <label>
                                                <input type="radio" value="false" name="IsEnabled">否
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-disabled="GoodsTypeForm.$invalid" ng-click="SaveGoodsType()">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
@*商品类型编辑模态框*@
<div class="modal fade" id="GoodsTypeEditModal" tabindex="-1" role="dialog" aria-labelledby="EditAppCaseModalS">
    <div class="modal-dialog" role="document" style="width:500px;height:420px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="EditAppCaseModalS">商品类型管理<input id="EditGoodsTypeId" type="hidden" /></h4>
            </div>
            <div class="modal-body" style="width:500px;height:300px;">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <form method="get" class="form-horizontal" name="EditGoodsTypeForm" novalidate>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">分类名称:<i class="fa fa-asterisk fa-red"></i></label>
                                    <div class="col-sm-7">
                                        <input type="text" id="EditName" class="form-control" required="" aria-required="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">分类描述:</label>
                                    <div class="col-sm-7">
                                        <textarea class="form-control" id="Editdescribe" row="4"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">上级分类:</label>
                                    <div class="col-sm-7">
                                        <select class="form-control m-b" id="Editparent"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">产品类型:</label>
                                    <div class="col-sm-7">
                                        <select class="form-control m-b" id="EditproductType"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">小图标</label>
                                    <div class="col-sm-7">
                                        <input type="text" id="Editicon" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">排序<i class="fa fa-asterisk fa-red"></i></label>
                                    <div class="col-sm-7">
                                        <input type="text" id="EditOrder" class="form-control" required="" aria-required="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">是否启用</label>
                                    <div class="col-sm-7">
                                        <div class="radio i-checks">
                                            <label>
                                                <input type="radio" value="true" name="EditIsEnabled" checked="checked">是
                                            </label>
                                            <label>
                                                <input type="radio" value="false" name="EditIsEnabled">否
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-disabled="EditGoodsTypeForm.$invalid" ng-click="SaveEditGoodsType()">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
@*商品类型详情*@
<div class="modal fade" id="GoodsTypeDetailModal" tabindex="-1" role="dialog" aria-labelledby="DetailAppCaseModalS">
    <div class="modal-dialog" role="document" style="width:500px;height:420px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="DetailAppCaseModalS">商品类型详情<input id="EditGoodsTypeId" type="hidden" /></h4>
            </div>
            <div class="modal-body" style="width:500px;height:300px;">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <form method="get" class="form-horizontal" name="EditGoodsTypeForm" novalidate>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">类型名称：</label>
                                    <div class="col-sm-7">
                                        <span id="Name"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">类型描述：</label>
                                    <div class="col-sm-7">
                                        <span id="Describe"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">上级类型：</label>
                                    <div class="col-sm-7">
                                        <span id="ParentName"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">产品类型：</label>
                                    <div class="col-sm-7">
                                        <span id="ProductTypeName"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">排序：</label>
                                    <div class="col-sm-7">
                                        <span id="Order"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">是否启用：</label>
                                    <div class="col-sm-7">
                                        <span id="IsEnabled"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">图标：</label>
                                    <div class="col-sm-7">
                                        <span id="icon"></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('validateCtrl', function ($scope, $http) {
        var id = window.location.search;
        id = id.substring(id.indexOf('=') + 1);
        TreeBing();
        //Tree绑值
        function TreeBing() {
            $http({
                method: 'POST',
                url: '@Url.Action("FindGoodTypeInTreeTable")',
            }).then(function successCallback(response) {
                // 请求成功执行代码
                CreateTreeTable(response.data);
            }, function errorCallback(response) {
                // 请求失败执行代码
            });
        }

        //添加按钮
        $("#add").on("click", function () {
            $("#GoodsTypeModal").modal("show");
        });

        //上级分类下拉框绑值->产品类型下拉框绑值
        $http({
            method: 'POST',
            url: '/GoodsMan/GoodsType/FindAllGoodsTypeNameForDrop',
            data: null
        }).then(function successCallback(response) {
            // 请求成功执行代码
            $("#parent").append("<option value='0'  selected='selected'>－－请选择上级分类－－</option>");
            $("#Editparent").append("<option value='0'  selected='selected'>－－请选择上级分类－－</option>");
            $.each(response.data, function (index, v) {
                if (id != "" && v.Id == id) {
                } else {
                    $("#parent").append($("<option value = '" + v.Id + "'></option>").text(v.Name));
                    $("#Editparent").append($("<option value = '" + v.Id + "'></option>").text(v.Name));
                }
            });
            //产品类型下拉框绑值
            $http({
                method: 'POST',
                url: '/GoodsMan/GoodsType/FindAllProductTypeForDrop',
                data: null
            }).then(function successCallback(response) {
                // 请求成功执行代码
                $("#productType").append("<option value='0'  selected='selected'>－－请选择产品类型－－</option>");
                $("#EditproductType").append("<option value='0'  selected='selected'>－－请选择产品类型－－</option>");
                $.each(response.data, function (index, v) {
                    $("#productType").append($("<option value = '" + v.Id + "'></option>").text(v.TypeName));
                    $("#EditproductType").append($("<option value = '" + v.Id + "'></option>").text(v.TypeName));
                });
            }, function errorCallback(response) {
                // 请求失败执行代码
            });
        }, function errorCallback(response) {
            // 请求失败执行代码
        });

        //判断Name是否重复
        $("[name='Name']").blur(
            function () {
                Repetition();
            }
            );

        //保存
        $scope.SaveGoodsType = function () {
            Repetition();
            var parentId = $("#parent option:selected").val();
            var productType = $("#productType option:selected").val();
            if (parentId == "－－请选择上级分类－－") {
                parentId = "";
            }
            if (productType == "") {
                swal({
                    title: "请选择产品类型!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    cancelButtonText: "取消",
                    confirmButtonText: "确定",
                });
            }
            else {
                var isEnabled = $('input:radio[name="IsEnabled"]:checked').val();
                $scope.GoodsType = {
                    "Name": $scope.Name,
                    "ParentId": parentId,
                    "ProductTypeId": productType,
                    "Order": $scope.Order,
                    "Describe": $scope.Describe,
                    "IsEnabled": isEnabled,
                    "Icon": $scope.icon,
                }
                $http({
                    method: 'POST',
                    url: '/GoodsMan/GoodsType/Save',
                    data: $scope.GoodsType
                }).then(function successCallback(response) {
                    // 请求成功执行代码
                    TreeBing();
                    $("#GoodsTypeModal").modal("hide");
                }, function errorCallback(response) {
                    // 请求失败执行代码
                    swal(response.data, "", "warning");
                });
            }
        }
        //编辑保存
        $scope.SaveEditGoodsType = function () {
            var parentId = $("#Editparent").val();
            var productType = $("#EditproductType").val();
            if (productType == 0) {
                swal({
                    title: "请选择产品类型!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    cancelButtonText: "取消",
                    confirmButtonText: "确定",
                });
            }
            else {
                var isEnabled = $('input:radio[name="EditIsEnabled"]:checked').val();
                $scope.GoodsType = {
                    "Id": $("#EditGoodsTypeId").val(),
                    "Name": $("#EditName").val(),
                    "ParentId": parentId,
                    "ProductTypeId": productType,
                    "Order": $("#EditOrder").val(),
                    "Describe": $("#Editdescribe").val(),
                    "IsEnabled": $("#EditisEnabled").val(),
                    "Icon": $("#Editicon").val(),
                }
                $http({
                    method: 'POST',
                    url: '/GoodsMan/GoodsType/Save',
                    data: $scope.GoodsType
                }).then(function successCallback(response) {
                    // 请求成功执行代码
                    TreeBing();
                    $("#GoodsTypeEditModal").modal("hide");
                }, function errorCallback(response) {
                    // 请求失败执行代码
                });
            }
        }

        $('#GoodsTypeEditModal').on('hidden.bs.modal', function (event) {
            $("#EditGoodsTypeId").val("");
            $("#EditName").val("");
            $("#Editdescribe").val("");
            $("#Editparent").val(0);
            $("#EditproductType").val(0);
            $("#Editicon").val("");
            $("#EditOrder").val("");
            $("input[name=EditIsEnabled][value='true']").attr("checked", true);
        });

        //判断Name是否重复
        function Repetition() {
            $http({
                method: 'POST',
                url: '/GoodsMan/GoodsType/FindGoodsTypeByName',
                data: JSON.stringify({ Name: $scope.Name })
            }).then(function successCallback(response) {
                // 请求成功执行代码
                if (response.data == 1) {
                    //清空类型名称
                    $scope.Name = "";
                }
            }, function errorCallback(response) {
                // 请求失败执行代码
            });
        }
    });

    //创建TreeTable
    function CreateTreeTable(data) {
        $("#GoodsType").html("");
        $.each(data, function (index, v) {
            var tr = $("<tr  class='gradeA' data-tt-id='" + v.num + "'  " + (v.parentNum != null ? "data-tt-parent-id=" + v.parentNum : " ") + ">"
                + "<td>" + (index + 1) + "</td>"
                + "<td>" + v.Name + "</td>"
                + "<td>" + (v.ParentName != null ? v.ParentName : " ") + "</td>"
               + "<td>" + v.ProductTypeName + "</td>"
               + "<td class='center'>" + v.Order + "</td>"
               + "<td class='center'>" + (v.IsEnabled == true ? "是" : "否") + "</td>"
                + "<td>&nbsp;&nbsp;<a title='查看明细' class='detail' href='javascript:GoodsTypeDetail(\"" + v.Id + "\")' >"
                + "<span class=\"glyphicon glyphicon-zoom-in aria-hidden='true'\"></span>"
                + "</a>&nbsp;&nbsp;<a title='编辑'  class='edit' href='javascript:GoodsTypeEdit(\"" + v.Id + "\")' >"
                + "<span class=\"glyphicon glyphicon-pencil aria-hidden='true'\"></span></a>&nbsp;&nbsp;"
                + "<a title='删除' class='delet' href='javascript:GoodsTypeRemove(\"" + v.Id + "\")'>"
                + "<span class=\"glyphicon glyphicon-trash aria-hidden='true'\"></span></a></td></tr>");
            $("#GoodsType").append(tr);
        });
        $("#treeTable").treetable({ expandable: true });
    }

    //删除
    function GoodsTypeRemove(goodsTypeId) {
        swal({
            title: "您确认删除吗？",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            cancelButtonText: "取消",
            confirmButtonText: "确定",
        }, function () {
            $.ajax({
                type: 'POST',
                url: "/GoodsMan/GoodsType/Remove",
                data: { "Id": goodsTypeId },
                success: function (v) {
                    // 请求成功执行代码
                    location.href = '/GoodsMan/GoodsType/Index';
                },
                error: function (v) {
                    // 请求失败执行代码
                }
            });
        });
    }

    //编辑绑值
    function GoodsTypeEdit(goodsTypeId) {       
        //$('#GoodsTypeEditModal').on('shown.bs.modal', function (event) {
            //var a = $(event.relatedTarget)
            //var modal = $(this);
            $.ajax({
                url: '/GoodsMan/GoodsType/FindGoodsTypeById',
                data: { "Id": goodsTypeId },
                type: 'POST',
                success: function (v) {
                    // 请求成功执行代码
                    $("#EditGoodsTypeId").val(v.Id);
                    $("#EditName").val(v.Name);
                    $("#Editdescribe").val(v.Describe);
                    $("#Editparent").val(v.ParentId != null ? v.ParentId : 0);
                    $("#EditproductType").val(v.ProductTypeId);
                    $("#Editicon").val(v.Icon);
                    $("#EditOrder").val(v.Order);
                    $("input[name=EditIsEnabled][value=" + v.IsEnabled + "]").attr("checked", true);
                    $("#GoodsTypeEditModal").modal("show");
                },
                error: function (v) {
                    // 请求失败执行代码
                }
            //});
        });
    }

    //详情
    function GoodsTypeDetail(goodsTypeId) {
        $("#GoodsTypeDetailModal").modal("show");
        //详情绑值
        $.ajax({
            type: 'POST',
            url: '/GoodsMan/GoodsType/FindGoodsTypeById',
            data: { "Id": goodsTypeId },
            success: function (v) {
                // 请求成功执行代码
                // 请求成功执行代码
                $("#Name").text(v.Name);
                $("#Describe").text(v.Describe);
                if (v.ParentName != null) {
                    $("#ParentName").text(v.ParentName);
                }
                $("#ProductTypeName").text(v.ProductTypeName);
                $("#Order").text(v.Order);
                $("#IsEnabled").text(v.IsEnabled == true ? "是" : "否");
                $("#icon").text(v.Icon);
            },
            error: function (v) {
                // 请求失败执行代码
            }
        });
    }

    //$(function () {
    //    //$("#treeTable").treetable({ expandable: true });
    //});
</script>
