
@{
    ViewBag.Title = "规格管理";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

@section formHeader{

    <div class="header margin-left20">
        <span class="headerline">规格管理</span>
    </div>
}
<link href="~/Content/css/form.css" rel="stylesheet" />
<style>

</style>
<script type="text/javascript">


    var app = angular.module('myApp', []);
    app.controller('validateCtrl', function ($scope, $http) {

        var id = window.location.search; //获取ID
        id = id.substring(id.indexOf('=') + 1);
        $scope.specTypeId = id;

        if (id != "") {
            $http({
                method: 'POST',
                url: '/GoodsMan/SpecType/GetSpecTypeBySpecTypeId',
                data: JSON.stringify({ specTypeId: $scope.specTypeId })
            }).then(function successCallback(response) {
                // 请求成功执行代码
                $scope.specId = response.data.Id;
                $scope.SpecName = response.data.SpecName;
                $scope.SpecCatalog = response.data.SpecCatalog;
                $scope.SpecRemark = response.data.SpecRemark;
                $scope.SpecSecondName = response.data.SpecSecondName;
                $scope.DisplayName = response.data.DisplayName;
                $scope.DisplayMode = response.data.DisplayMode;
                $scope.CreateTime = response.data.DisplayCreatedTime;
                $(".spectypeparameter").show();
                $scope.bindSpecParameter(response.data.Id);
                console.log(response.data.Id);
            }, function errorCallback(response) {
                // 请求失败执行代码

            });
        }


        //保存基本信息
        $scope.saveChange = function () {
            var displayName, displayMode;
            //$('input:radio[name="DisplayName"]:checked').val()
            if ($scope.DisplayName != null)
            {
                displayName = $scope.DisplayName;
            }
            if ($scope.DisplayMode != null)
            {
                displayMode = $scope.DisplayMode;
            }

            var jsondata = { "Id": $scope.specTypeId, "SpecName": $scope.SpecName, "SpecCatalog": $scope.SpecCatalog, "SpecRemark": $scope.SpecRemark, "SpecSecondName": $scope.SpecSecondName, "CreateTime": $scope.CreateTime, "DisplayName": displayName, "DisplayMode": displayMode, "CreatePerson": "张三", "UpdatePerson": "李四" }
            $http({
                method: 'POST',
                url: '/GoodsMan/SpecType/SaveSpecType',
                data: JSON.stringify(jsondata)
            }).then(function successCallback(response) {
                // 请求成功执行代码
                $(".spectypeparameter").show();
                $scope.specId = response.data;

                swal("保存成功！")
            }, function errorCallback(response) {
                // 请求失败执行代码

            });
        };

        //保存规格参数
        $scope.saveSpecTypeParameter = function () {

            $scope.master = { ParameterName: $scope.parameterName, specTypeId: $scope.specId };
            $http({
                method: 'POST',
                url: '/GoodsMan/SpecType/SaveSpecParameter',
                data: JSON.stringify($scope.master)
            }).then(function successCallback(response) {

                //绑定规格参数列表
                $scope.bindSpecParameter($scope.specId);

            }, function errorCallback(response) {
                // 请求失败执行代码


            });
        };

        //绑定规格参数列表
        $scope.bindSpecParameter = function (specTypeId) {
            $http({
                method: 'POST',
                url: '/GoodsMan/SpecType/GetParametersById',
                data: JSON.stringify({ specTypeId: specTypeId })
            }).then(function successCallback(response) {

                CreateTable(response.data);

            }, function errorCallback(response) {
                // 请求失败执行代码


            });

        }

    });

    function CreateTable(data) {
        $("tr[name='DataTr']").remove();
        $.each(data, function (index, v) {

            var $tr = $("<tr name='DataTr'></tr>");
            var $td1 = $("<td></td>").text(v.ParameterName);
            $tr.append($td1);
            $(".functionlist").append($tr);
            if (v.IsEnable == true) {
                $("#isenable").attr('checked', 'checked');
            }
        });
    }

    $(function () {

        $("[title='添加规格参数']").on("click", function () {
            $("#myModalLabel").text("添加规格参数");
            $('#myModal').modal();
        });


    });
</script>
<form name="myForm" novalidate>

    <div class="">
        <div class="panelWrapper">
            <input type="hidden" name="id" ng-model="specTypeId" />
            <table>
                <tr>
                    <td><span>商品类型</span></td>
                    <td>
                        <select class="form-control" ng-model="SpecCatalog" name="SpecCatalog" id="specCatalog">
                            <option value="商品1">商品1</option>
                            <option value="商品2">商品2</option>
                            <option value="商品3">商品3</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><span>规格名称:</span></td>
                    <td><input type="text" name="SpecName" class="form-control" ng-model="SpecName" required></td>
                </tr>
                <tr>
                    <td><span>规格备注:</span></td>
                    <td><input type="text" name="SpecRemark" class="form-control" ng-model="SpecRemark" required></td>
                </tr>
                <tr>
                    <td><span>规格别名:</span></td>
                    <td><input type="text" name="SpecSecondName" class="form-control" ng-model="SpecSecondName" required></td>
                </tr>
                <tr>
                    <td><span>显示类型:</span></td>
                    <td>
                        <input type="radio" name="DisplayName" ng-model="DisplayName" value="文字" checked> 文字
                        <input type="radio" name="DisplayName" ng-model="DisplayName" value="图片"> 图片
                    </td>
                </tr>
                <tr>
                    <td><span>显示方式:</span></td>
                    <td>
                        <input type="radio" name="DisplayMode" ng-model="DisplayMode" value="下拉" checked> 下拉
                        <input type="radio" name="DisplayMode" ng-model="DisplayMode" value="平铺"> 平铺
                    </td>
                </tr>
                <tr>
                    <td><input type="hidden" name="id" ng-model="CreateTime" /></td>
                </tr>

            </table>
        </div>

        <div style="display:none;" class="spectypeparameter">
            <input type="hidden" name="id" ng-model="specId" />
            <table style="margin-left:20px;margin-top:20px">
                <tr>
                    <td class="menufun">
                        <a title="添加规格参数">添加规格参数</a>
                        <table class="table table-striped">
                            <thead>
                                <tr class="listheader">
                                    <th>规格参数名称</th>
                                </tr>
                            </thead>
                            <tbody class="functionlist"></tbody>
                        </table>

                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <input type="hidden" name="id" ng-model="menuFcunId" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">新增</h4>
                </div>
                <div class="modal-body">
                    <table class="functional">
                        <tr>
                            <td>规格参数名称:</td>
                            <td><input type="text" name="ParameterName" ng-model="parameterName" class="form-control" placeholder="规格参数名称"></td>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                    <button type="button" id="btn_submit" class="btn btn-primary" ng-click="saveSpecTypeParameter()" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                </div>
            </div>
        </div>
    </div>

</form>


