.register-active{
	margin-left:80px;
}
.register-box{
	height:650px;
}
.register-form{
	float:left;
	margin:0 80px;
	padding:50px 0;
}
.register-form .filed{
	width:422px;
	margin-bottom:10px;
}
.input-group{
	position: relative;
	width:400px;
	height:40px;
	line-height: 40px;
	border:1px solid #cfcfcf;
}
.register-form .filed .item{
	width:90px;
	height: 40px;
	line-height: 40px;
	text-align:center;
	border:none;
	border-right: 1px solid #cfcfcf;
	display:inline-block;
	letter-spacing: 2px;
	font-weight:normal;
	color:#333;
	margin-bottom:0 !important;
}
.register-form .filed input{
	width:200px;
	padding-left:10px ;
	line-height: 40px;
	border:none;
	background-color: #fafafa;
}
.user-field input,
.pwd-field input,
.repwd-field input,
.email-field input{
	width:300px !important;
}
.register-form .filed p{
	height:20px;
	padding:2px 0 0 10px;
	color:#999;
	font-size: 12px;
}
.register-form .filed select{
	width:100px;
	height:40px;
	text-align: center;
	border:none;
	border-left:1px solid #cfcfcf;
	color:#666;
	background-color: #fafafa;
}
.register-form .filed select option{
	height:20px;
}
.register-form .filed img{
	width:100px;
	height: 40px;
	border-left:1px solid #cfcfcf;
}
.register-form .filed button{
	width:104px;
	height: 40px;
	border:none;
	border-left:1px solid #cfcfcf;
	float:right;
}
.register-form .register-btn input{
	display: block;
	width:402px;
	height:40px;
	color:#ffffff;
	letter-spacing: 5px;
	background-color:#3d5d99;
	border:1px solid #cfcfcf;
}
.registe-aside{
	margin-top:50px;
	float:left;
	width:380px;
	height:634px;
}
.registe-aside .register-ad{
	width:300px;
	height:600px;
	margin:20px auto;
}
.registe-aside .register-ad img{
	width:300px;
	height:600px;
}
#reg_username-error,
#reg_pwd-error,
#reg_repwd-error,
#reg_phone-error,
#reg_phone-error,
#reg_email-error{
	color:#ff0000;
}
.register-aside{
	float: right;
	width:300px;
	margin:50px 50px 0 0;
}
/*遮罩层*/
.coverbg {   
background-color:#ffffff;   
left:0;   
opacity:0.2;   
position:absolute;   
top:0;   
z-index:3;   
filter:alpha(opacity=80);   
-moz-opacity:0.5;   
-khtml-opacity:0.5;   
}   
.dialog {   
background-color:#ffffff;   
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
height:560px;   
left:50%;   
margin:-120px 0 0 -450px;   
padding:50px;   
position:absolute !important; /* 浮动对话框 */   
position:absolute;   
top:50%;   
width:900px;   
z-index:5;    
display:none;   
}   
.dialog .close {   
margin:-30px -30px 0 0;   
} 
.dialog h2{
	margin-bottom:40px;
}
.dialog p{
	margin-bottom:30px;
}
.dialog-content h4{
	display: inline-block;
}
.dialog .dialog-links{
	margin-bottom:20px;
}
.dialog-btn{
	display: block;
	width:200px;
	height:40px;
	margin:50px auto;
	text-align: center;
	color: #fff;
	line-height: 40px;
	border:none;
	background-color: #3d5d99;
}
.dialog-btn:hover{
	color:#ffffff !important;
}
